<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
<a href="/new"><button type="button">新規投稿</button> </a>
<table border="1">
	<tr>
		<th>ID</th>
		<th>内容</th>
	</tr>
	<tr th:each="content : ${contents}">
		<td th:text="${content.id}">
		<td th:text="${content.content}">
		<td>
			<a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button></a>
		</td>
		<td>
			<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
				<input type="submit" value="削除">
			</form>
		</td>
	</tr>
</table>
</body>
</html>